In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('tulum.csv', sep=',', engine='python')

In [22]:
df.describe()

             PRECIP         EVAP          TMAX          TMIN
count  13763.000000  9863.000000  13388.000000  13385.000000
mean       3.125300     4.495387     30.991672     20.346328
std       10.484947     2.057994      2.605869      3.989156
min        0.000000     0.000000     18.000000      4.300000
25%        0.000000     3.000000     29.500000     18.000000
50%        0.000000     4.300000     31.000000     21.000000
75%        0.000000     5.800000     33.000000     23.000000
max      200.000000    17.700000     45.000000     31.500000

In [23]:
import matplotlib.pyplot as plt

In [24]:
# Para la precipitación mensual acumulada promedio de la colección de datos de la estación que se esté analizando.
df.PRECIP.mean()

3.1252997166315466

In [25]:
df.dtypes

FECHA      object
PRECIP    float64
EVAP      float64
TMAX      float64
TMIN      float64
dtype: object

In [26]:
# Convertir Fecha a nueva variable tipo fecha NFecha (datetime64)
df['NFecha'] =  pd.to_datetime(df['FECHA'], format='%d/%m/%Y')

In [27]:
df.dtypes

FECHA             object
PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
NFecha    datetime64[ns]
dtype: object

In [29]:
# Crear columnas con Año y Mes extraídos de la fecha 
df['Año'] = df['NFecha'].dt.year
df['Mes'] = df['NFecha'].dt.month
df.head(),df.tail()

(        FECHA  PRECIP  EVAP  TMAX  TMIN     NFecha   Año  Mes
 0  09/07/1964     2.3   5.3  34.5  21.5 1964-07-09  1964    7
 1  10/07/1964     0.0  10.2  31.0  24.5 1964-07-10  1964    7
 2  11/07/1964     0.0   8.8  30.0  24.5 1964-07-11  1964    7
 3  12/07/1964     0.0   9.2  30.0  27.5 1964-07-12  1964    7
 4  13/07/1964     0.0   9.3  31.0  27.5 1964-07-13  1964    7,
             FECHA  PRECIP  EVAP  TMAX  TMIN     NFecha   Año  Mes
 13791  27/12/2012     0.3   NaN  30.0  19.0 2012-12-27  2012   12
 13792  28/12/2012     0.0   NaN  30.0  22.0 2012-12-28  2012   12
 13793  29/12/2012     0.0   NaN  29.0  22.0 2012-12-29  2012   12
 13794  30/12/2012     0.0   NaN  32.0  13.0 2012-12-30  2012   12
 13795  31/12/2012     0.0   NaN  30.0  17.0 2012-12-31  2012   12)

In [32]:
# Número de años distintos df0['Año'].unique(),
NumA = len(df['Año'].unique())
print(NumA, "años de datos")

48 años de datos

In [34]:
# Calcular la precipitación promedio de un mes (Sumar Precip y dividir entre número de Años)
# Mes a mes ... a pie
PRECIPEne = df[(df['Mes'] == 1)]['PRECIP'].sum()/NumA
PRECIPFeb = df[(df['Mes'] == 2)]['PRECIP'].sum()/NumA
PRECIPMar = df[(df['Mes'] == 3)]['PRECIP'].sum()/NumA
PRECIPAbr = df[(df['Mes'] == 4)]['PRECIP'].sum()/NumA
PRECIPMay = df[(df['Mes'] == 5)]['PRECIP'].sum()/NumA
PRECIPJun = df[(df['Mes'] == 6)]['PRECIP'].sum()/NumA
PRECIPJul = df[(df['Mes'] == 7)]['PRECIP'].sum()/NumA
PRECIPAgo = df[(df['Mes'] == 8)]['PRECIP'].sum()/NumA
PRECIPSep = df[(df['Mes'] == 9)]['PRECIP'].sum()/NumA
PRECIPOct = df[(df['Mes'] == 10)]['PRECIP'].sum()/NumA
PRECIPNov = df[(df['Mes'] == 11)]['PRECIP'].sum()/NumA
PRECIPDic = df[(df['Mes'] == 12)]['PRECIP'].sum()/NumA
print("Enero:",PRECIPEne, "mm")
print("Febrero:",PRECIPFeb, "mm")
print("Marzo:",PRECIPMar, "mm")
print("Abril:",PRECIPAbr, "mm")
print("Mayo:",PRECIPMay, "mm")
print("Junio:",PRECIPJun, "mm")
print("Julio:",PRECIPJul, "mm")
print("Agosto:",PRECIPAgo, "mm")
print("Septiembre:",PRECIPSep, "mm")
print("Octubre:",PRECIPOct, "mm")
print("Noviembre:",PRECIPNov, "mm")
print("Diciembre:",PRECIPDic, "mm")

Enero: 48.12916666666666 mm
Febrero: 36.118750000000006 mm
Marzo: 24.49791666666667 mm
Abril: 27.566666666666663 mm
Mayo: 77.39166666666667 mm
Junio: 115.51041666666667 mm
Julio: 81.75208333333335 mm
Agosto: 77.25 mm
Septiembre: 126.64791666666667 mm
Octubre: 162.11458333333334 mm
Noviembre: 67.09583333333333 mm
Diciembre: 52.03958333333333 mm

In [35]:
# Para encontrar los meses más lluviosos
# O hacer un loop para recorrer cada mes, recordando que Python cuenta desde 0,1,2,...
# Calcular la suma de precipitación y dividir entre el número de años
total=0.0
for i in range(12):
    PrecipMensual = df['PRECIP'][df['Mes']==[i+1]].sum()/NumA
    total=total+PrecipMensual
    print("Mes", i+1,":", np.round(PrecipMensual, decimals=2), "mm", ", Acumulada:", 
          np.round(total, decimals=2), "mm")

Mes 1 : 48.13 mm , Acumulada: 48.13 mm
Mes 2 : 36.12 mm , Acumulada: 84.25 mm
Mes 3 : 24.5 mm , Acumulada: 108.75 mm
Mes 4 : 27.57 mm , Acumulada: 136.31 mm
Mes 5 : 77.39 mm , Acumulada: 213.7 mm
Mes 6 : 115.51 mm , Acumulada: 329.21 mm
Mes 7 : 81.75 mm , Acumulada: 410.97 mm
Mes 8 : 77.25 mm , Acumulada: 488.22 mm
Mes 9 : 126.65 mm , Acumulada: 614.86 mm
Mes 10 : 162.11 mm , Acumulada: 776.98 mm
Mes 11 : 67.1 mm , Acumulada: 844.08 mm
Mes 12 : 52.04 mm , Acumulada: 896.11 mm

In [41]:
# Calcular la Tmax promedio de cada mes. Sumar las Tmax y 
# dividir entre el número total de datos válidos para ese mes determinado (función .count())
TmaxPromEne = df[df['Mes']==1]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromFeb = df[df['Mes']==2]['TMAX'].sum()/df[df['Mes'] ==2]['TMAX'].count()
TmaxPromMar = df[df['Mes']==3]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromAbr = df[df['Mes']==4]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromMay = df[df['Mes']==5]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromJun = df[df['Mes']==6]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromJul = df[df['Mes']==7]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromAgo = df[df['Mes']==8]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromSep = df[df['Mes']==9]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromOct = df[df['Mes']==10]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromNov = df[df['Mes']==11]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
TmaxPromDic = df[df['Mes']==12]['TMAX'].sum()/df[df['Mes'] ==1]['TMAX'].count()
print("Tmax promedio Enero:", np.round(TmaxPromEne, decimals=2), "ºC")
print("Tmax promedio Febrero:", np.round(TmaxPromFeb, decimals=2), "ºC")
print("Tmax promedio Marzo:", np.round(TmaxPromMar, decimals=2), "ºC")
print("Tmax promedio Abril:", np.round(TmaxPromAbr, decimals=2), "ºC")
print("Tmax promedio Mayo:", np.round(TmaxPromMay, decimals=2), "ºC")
print("Tmax promedio Junio:", np.round(TmaxPromJun, decimals=2), "ºC")
print("Tmax promedio Julio:", np.round(TmaxPromJul, decimals=2), "ºC")
print("Tmax promedio Agosto:", np.round(TmaxPromAgo, decimals=2), "ºC")
print("Tmax promedio Septiembre:", np.round(TmaxPromSep, decimals=2), "ºC")
print("Tmax promedio Octubre:", np.round(TmaxPromOct, decimals=2), "ºC")
print("Tmax promedio Noviembre:", np.round(TmaxPromNov, decimals=2), "ºC")
print("Tmax promedio Diciembre:", np.round(TmaxPromDic, decimals=2), "ºC")

Tmax promedio Enero: 29.24 ºC
Tmax promedio Febrero: 29.71 ºC
Tmax promedio Marzo: 28.04 ºC
Tmax promedio Abril: 26.34 ºC
Tmax promedio Mayo: 30.25 ºC
Tmax promedio Junio: 28.52 ºC
Tmax promedio Julio: 32.53 ºC
Tmax promedio Agosto: 31.98 ºC
Tmax promedio Septiembre: 29.79 ºC
Tmax promedio Octubre: 33.6 ºC
Tmax promedio Noviembre: 31.52 ºC
Tmax promedio Diciembre: 30.08 ºC

In [45]:
for i in range(12):
    TminPromMensual = df[df['Mes']==i+1]['TMIN'].sum()/df[df['Mes'] ==i+1]['TMIN'].count()
    print("Tmin Mes", i+1,":", np.round(TminPromMensual, decimals=2), "ºC")
  
print(" ")
    
for i in range(12):
    TmaxPromMensual = df[df['Mes']==i+1]['TMAX'].sum()/df[df['Mes'] ==i+1]['TMAX'].count()
    print("Tmax Mes", i+1,":", np.round(TmaxPromMensual, decimals=2), "ºC")

Tmin Mes 1 : 17.74 ºC
Tmin Mes 2 : 18.27 ºC
Tmin Mes 3 : 19.9 ºC
Tmin Mes 4 : 21.2 ºC
Tmin Mes 5 : 21.86 ºC
Tmin Mes 6 : 22.5 ºC
Tmin Mes 7 : 21.69 ºC
Tmin Mes 8 : 21.86 ºC
Tmin Mes 9 : 21.45 ºC
Tmin Mes 10 : 20.56 ºC
Tmin Mes 11 : 19.21 ºC
Tmin Mes 12 : 18.16 ºC

Tmax Mes 1 : 29.24 ºC
Tmax Mes 2 : 29.71 ºC
Tmax Mes 3 : 30.77 ºC
Tmax Mes 4 : 31.21 ºC
Tmax Mes 5 : 32.1 ºC
Tmax Mes 6 : 31.9 ºC
Tmax Mes 7 : 32.25 ºC
Tmax Mes 8 : 32.23 ºC
Tmax Mes 9 : 31.7 ºC
Tmax Mes 10 : 31.11 ºC
Tmax Mes 11 : 30.42 ºC
Tmax Mes 12 : 29.37 ºC

In [53]:
# Años húmedos y años secos
for i in range(1964,2012):
    PrecipAnual = df['PRECIP'][df['Año']==[i+1]].sum()
    print("Año", i+1,":", PrecipAnual, "mm")

Año 1965 : 868.2 mm
Año 1966 : 19.1 mm
Año 1967 : 111.8 mm
Año 1968 : 36.7 mm
Año 1969 : 388.3 mm
Año 1970 : 248.00000000000003 mm
Año 1971 : 1043.0 mm
Año 1972 : 1446.7 mm
Año 1973 : 1176.3000000000002 mm
Año 1974 : 894.1 mm
Año 1975 : 1155.5 mm
Año 1976 : 1338.6 mm
Año 1977 : 1323.1 mm
Año 1978 : 1340.8 mm
Año 1979 : 1340.1999999999998 mm
Año 1980 : 1350.8 mm
Año 1981 : 837.8 mm
Año 1982 : 1190.0 mm
Año 1983 : 1537.1 mm
Año 1984 : 579.8 mm
Año 1985 : 228.0 mm
Año 1986 : 839.1 mm
Año 1987 : 500.5 mm
Año 1988 : 1849.0 mm
Año 1989 : 651.3 mm
Año 1990 : 1066.6999999999998 mm
Año 1991 : 1152.7 mm
Año 1992 : 720.2 mm
Año 1993 : 445.2 mm
Año 1994 : 374.20000000000005 mm
Año 1995 : 809.6 mm
Año 1996 : 1444.3 mm
Año 1997 : 874.5 mm
Año 1998 : 47.0 mm
Año 1999 : 836.5999999999999 mm
Año 2000 : 1183.4 mm
Año 2001 : 59.5 mm
Año 2002 : 922.8 mm
Año 2003 : 860.8000000000001 mm
Año 2004 : 1103.5 mm
Año 2005 : 1657.9 mm
Año 2006 : 0.0 mm
Año 2007 : 1228.0 mm
Año 2008 : 1127.0 mm
Año 2009 : 566.7 mm
Año 2010 : 1643.5 mm
Año 2011 : 798.4 mm
Año 2012 : 1315.2 mm

In [52]:
# Número de datos faltantes por año
for i in range(1964,2012):
    NumDatos= df['PRECIP'][df['Año']==[i+1]].count()
    print("Año:", i+1, "Num Datos", NumDatos, ", ", np.round(NumDatos/365.0, decimals=2)*100, "%")

Año: 1965 Num Datos 365 ,  100.0 %
Año: 1966 Num Datos 31 ,  8.0 %
Año: 1967 Num Datos 62 ,  17.0 %
Año: 1968 Num Datos 61 ,  17.0 %
Año: 1969 Num Datos 153 ,  42.0 %
Año: 1970 Num Datos 153 ,  42.0 %
Año: 1971 Num Datos 365 ,  100.0 %
Año: 1972 Num Datos 335 ,  92.0 %
Año: 1973 Num Datos 365 ,  100.0 %
Año: 1974 Num Datos 365 ,  100.0 %
Año: 1975 Num Datos 243 ,  67.0 %
Año: 1976 Num Datos 366 ,  100.0 %
Año: 1977 Num Datos 365 ,  100.0 %
Año: 1978 Num Datos 334 ,  92.0 %
Año: 1979 Num Datos 365 ,  100.0 %
Año: 1980 Num Datos 366 ,  100.0 %
Año: 1981 Num Datos 275 ,  75.0 %
Año: 1982 Num Datos 365 ,  100.0 %
Año: 1983 Num Datos 276 ,  76.0 %
Año: 1984 Num Datos 151 ,  41.0 %
Año: 1985 Num Datos 61 ,  17.0 %
Año: 1986 Num Datos 364 ,  100.0 %
Año: 1987 Num Datos 365 ,  100.0 %
Año: 1988 Num Datos 337 ,  92.0 %
Año: 1989 Num Datos 304 ,  83.0 %
Año: 1990 Num Datos 214 ,  59.0 %
Año: 1991 Num Datos 365 ,  100.0 %
Año: 1992 Num Datos 366 ,  100.0 %
Año: 1993 Num Datos 365 ,  100.0 %
Año: 1994 Num Datos 365 ,  100.0 %
Año: 1995 Num Datos 363 ,  99.0 %
Año: 1996 Num Datos 366 ,  100.0 %
Año: 1997 Num Datos 365 ,  100.0 %
Año: 1998 Num Datos 87 ,  24.0 %
Año: 1999 Num Datos 153 ,  42.0 %
Año: 2000 Num Datos 366 ,  100.0 %
Año: 2001 Num Datos 62 ,  17.0 %
Año: 2002 Num Datos 152 ,  42.0 %
Año: 2003 Num Datos 365 ,  100.0 %
Año: 2004 Num Datos 360 ,  99.0 %
Año: 2005 Num Datos 357 ,  98.0 %
Año: 2006 Num Datos 0 ,  0.0 %
Año: 2007 Num Datos 365 ,  100.0 %
Año: 2008 Num Datos 366 ,  100.0 %
Año: 2009 Num Datos 298 ,  82.0 %
Año: 2010 Num Datos 364 ,  100.0 %
Año: 2011 Num Datos 365 ,  100.0 %
Año: 2012 Num Datos 366 ,  100.0 %

In [55]:
# Años húmedos y años secos
for i in range(1964,2012):
    HumAnual = df['EVAP'][df['Año']==[i+1]].sum()
    print("Año", i+1,":", HumAnual, "mm")

Año 1965 : 2180.8 mm
Año 1966 : 92.00000000000001 mm
Año 1967 : 359.5 mm
Año 1968 : 293.7 mm
Año 1969 : 707.7 mm
Año 1970 : 612.3 mm
Año 1971 : 1891.8000000000002 mm
Año 1972 : 1364.7 mm
Año 1973 : 1790.2 mm
Año 1974 : 775.5 mm
Año 1975 : 720.2999999999998 mm
Año 1976 : 1509.9 mm
Año 1977 : 1590.1000000000001 mm
Año 1978 : 1562.3 mm
Año 1979 : 1701.5 mm
Año 1980 : 1561.7 mm
Año 1981 : 934.6999999999999 mm
Año 1982 : 1434.4 mm
Año 1983 : 1077.4 mm
Año 1984 : 650.0 mm
Año 1985 : 218.4 mm
Año 1986 : 1623.8000000000002 mm
Año 1987 : 654.5 mm
Año 1988 : 903.4000000000001 mm
Año 1989 : 1336.8000000000002 mm
Año 1990 : 0.0 mm
Año 1991 : 1629.5 mm
Año 1992 : 846.3000000000001 mm
Año 1993 : 1063.4 mm
Año 1994 : 1060.6 mm
Año 1995 : 1054.1 mm
Año 1996 : 1376.2 mm
Año 1997 : 818.1 mm
Año 1998 : 0.0 mm
Año 1999 : 518.9 mm
Año 2000 : 1497.2 mm
Año 2001 : 201.99999999999997 mm
Año 2002 : 511.3 mm
Año 2003 : 1798.6 mm
Año 2004 : 340.8 mm
Año 2005 : 0.0 mm
Año 2006 : 0.0 mm
Año 2007 : 1316.3999999999999 mm
Año 2008 : 1527.0 mm
Año 2009 : 478.59999999999997 mm
Año 2010 : 0.0 mm
Año 2011 : 0.0 mm
Año 2012 : 0.0 mm

In [56]:
# Número de datos faltantes por año
for i in range(1964,2012):
    NumDatos= df['EVAP'][df['Año']==[i+1]].count()
    print("Año:", i+1, "Num Datos", NumDatos, ", ", np.round(NumDatos/365.0, decimals=2)*100, "%")

Año: 1965 Num Datos 361 ,  99.0 %
Año: 1966 Num Datos 31 ,  8.0 %
Año: 1967 Num Datos 62 ,  17.0 %
Año: 1968 Num Datos 61 ,  17.0 %
Año: 1969 Num Datos 121 ,  33.0 %
Año: 1970 Num Datos 135 ,  37.0 %
Año: 1971 Num Datos 365 ,  100.0 %
Año: 1972 Num Datos 274 ,  75.0 %
Año: 1973 Num Datos 365 ,  100.0 %
Año: 1974 Num Datos 151 ,  41.0 %
Año: 1975 Num Datos 151 ,  41.0 %
Año: 1976 Num Datos 303 ,  83.0 %
Año: 1977 Num Datos 332 ,  91.0 %
Año: 1978 Num Datos 331 ,  91.0 %
Año: 1979 Num Datos 364 ,  100.0 %
Año: 1980 Num Datos 363 ,  99.0 %
Año: 1981 Num Datos 215 ,  59.0 %
Año: 1982 Num Datos 334 ,  92.0 %
Año: 1983 Num Datos 242 ,  66.0 %
Año: 1984 Num Datos 139 ,  38.0 %
Año: 1985 Num Datos 59 ,  16.0 %
Año: 1986 Num Datos 354 ,  97.0 %
Año: 1987 Num Datos 163 ,  45.0 %
Año: 1988 Num Datos 221 ,  61.0 %
Año: 1989 Num Datos 240 ,  66.0 %
Año: 1990 Num Datos 0 ,  0.0 %
Año: 1991 Num Datos 350 ,  96.0 %
Año: 1992 Num Datos 182 ,  50.0 %
Año: 1993 Num Datos 346 ,  95.0 %
Año: 1994 Num Datos 364 ,  100.0 %
Año: 1995 Num Datos 331 ,  91.0 %
Año: 1996 Num Datos 329 ,  90.0 %
Año: 1997 Num Datos 178 ,  49.0 %
Año: 1998 Num Datos 0 ,  0.0 %
Año: 1999 Num Datos 142 ,  39.0 %
Año: 2000 Num Datos 347 ,  95.0 %
Año: 2001 Num Datos 61 ,  17.0 %
Año: 2002 Num Datos 142 ,  39.0 %
Año: 2003 Num Datos 364 ,  100.0 %
Año: 2004 Num Datos 91 ,  25.0 %
Año: 2005 Num Datos 0 ,  0.0 %
Año: 2006 Num Datos 0 ,  0.0 %
Año: 2007 Num Datos 309 ,  85.0 %
Año: 2008 Num Datos 304 ,  83.0 %
Año: 2009 Num Datos 110 ,  30.0 %
Año: 2010 Num Datos 0 ,  0.0 %
Año: 2011 Num Datos 0 ,  0.0 %
Año: 2012 Num Datos 0 ,  0.0 %