In [1]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/Users/Bubba/Desktop/Unison/Unison.Residencia:4to/Fisica.computacional/Actividad3'

In [2]:
base_path = "/Users/Bubba/Desktop/Unison/Unison.Residencia:4to/Fisica.computacional/Actividad3"
filename = "tulum.txt"
path_to_file = os.path.join(base_path, filename)
fd = open(path_to_file , 'r')

In [3]:
fd

In [4]:
df = pd.read_csv('tulum.csv', sep=',', engine='python')

In [5]:
df.head()

        FECHA  PRECIP  EVAP  TMAX  TMIN
0      9/7/64     2.3   5.3  34.5  21.5
1     10/7/64     0.0  10.2  31.0  24.5
2     11/7/64     0.0   8.8  30.0  24.5
3     12/7/64     0.0   9.2  30.0  27.5
4  13/07/1964     0.0   9.3  31.0  27.5

In [6]:
df.tail()

                                         FECHA  PRECIP  EVAP  TMAX  TMIN
13792                               28/12/2012     0.0   NaN  30.0  22.0
13793                               29/12/2012     0.0   NaN  29.0  22.0
13794                               30/12/2012     0.0   NaN  32.0  13.0
13795                               31/12/2012     0.0   NaN  30.0  17.0
13796  --------------------------------------,     NaN   NaN   NaN   NaN

In [7]:
df.dtypes

FECHA      object
PRECIP    float64
EVAP      float64
TMAX      float64
TMIN      float64
dtype: object

In [8]:
df.mean()

PRECIP     3.125300
EVAP       4.495387
TMAX      30.991672
TMIN      20.346328
dtype: float64

In [9]:
df.std()

PRECIP    10.484947
EVAP       2.057994
TMAX       2.605869
TMIN       3.989156
dtype: float64

In [10]:
df.median()

PRECIP     0.0
EVAP       4.3
TMAX      31.0
TMIN      21.0
dtype: float64

In [11]:
df.max()

FECHA     9/9/99
PRECIP       200
EVAP        17.7
TMAX          45
TMIN        31.5
dtype: object

In [12]:
df.min()

FECHA     --------------------------------------,
PRECIP                                          0
EVAP                                            0
TMAX                                           18
TMIN                                          4.3
dtype: object

In [13]:
df.describe()

             PRECIP         EVAP          TMAX          TMIN
count  13763.000000  9863.000000  13388.000000  13385.000000
mean       3.125300     4.495387     30.991672     20.346328
std       10.484947     2.057994      2.605869      3.989156
min        0.000000     0.000000     18.000000      4.300000
25%        0.000000     3.000000     29.500000     18.000000
50%        0.000000     4.300000     31.000000     21.000000
75%        0.000000     5.800000     33.000000     23.000000
max      200.000000    17.700000     45.000000     31.500000

In [14]:
#Evaluando los meses más lluviosos
df_fe=df[df.PRECIP > 125]
df_fec=df_fe[df_fe < 200]
df_fec

            FECHA  PRECIP  EVAP  TMAX  TMIN
1280      7/10/71   140.0   3.0  30.5  23.0
1932   20/08/1973   140.0   4.0  30.5  22.5
3334   22/10/1977   130.0   NaN  29.0  19.0
3610   25/08/1978   130.0   NaN  33.0  22.0
6556   14/09/1988     NaN   NaN  31.0  16.0
11208  15/10/2004   127.3   NaN  27.0  24.0
11483  17/07/2005   134.0   NaN   NaN  25.0
11484  18/07/2005   164.5   NaN  32.0   NaN
11579  21/10/2005   185.5   NaN   NaN   NaN
12838  19/05/2010   198.0   NaN  27.0  22.0
12876  26/06/2010   150.0   NaN  31.0  23.0
12885      5/7/10   140.0   NaN  31.0  26.0

In [15]:
# Eliminando los valores perdidos para facilitar el calculo
nan= df.dropna()

In [16]:
nan.TMIN.min()

4.3

In [17]:
nan.describe()

            PRECIP         EVAP         TMAX         TMIN
count  9834.000000  9834.000000  9834.000000  9834.000000
mean      2.635469     4.493614    30.999054    20.389577
std       8.347452     2.058325     2.585161     3.839311
min       0.000000     0.000000    18.000000     4.300000
25%       0.000000     3.000000    29.500000    18.000000
50%       0.000000     4.300000    31.000000    21.000000
75%       0.200000     5.800000    33.000000    23.000000
max     140.000000    17.700000    44.000000    29.000000

In [18]:
# Calculando los meses más frios
df_fr=nan[nan.TMIN > 4]
df_fri=df_fr[df_fr.TMIN  < 8]
df_fri

            FECHA  PRECIP  EVAP  TMAX  TMIN
1045   14/02/1971     0.0   3.1  27.0   7.5
1742      11/2/73     0.0   5.4  26.0   6.5
2691   18/01/1976     0.0   4.0  24.0   7.5
2706       2/2/76     0.0   5.3  25.0   7.0
4105       2/1/80     0.0   5.5  32.0   7.0
4468   30/12/1980     0.0   3.9  27.0   7.0
4494   25/01/1981     0.0   3.2  26.0   7.0
5990   28/01/1987     0.0   1.0  27.0   7.5
7222       9/2/91     0.0   1.8  27.0   6.3
7223      10/2/91     0.0   4.9  29.3   4.3
7224      11/2/91     0.0   3.6  29.1   5.2
7228   15/02/1991     0.0   3.1  28.0   6.3
7247       6/3/91     0.0   5.4  30.0   7.2
7252      11/3/91     0.0   5.0  28.2   7.3
7583       5/2/92     0.0   3.2  25.1   7.0
7622   15/03/1992     0.0   6.8  31.3   7.3
7667   29/04/1992     0.0   6.7  29.1   7.1
10018     10/2/00     0.0   3.3  30.0   7.0

In [19]:
# Calculando los meses más cálidos
df_ca=nan[nan.TMAX > 40]
df_ca

            FECHA  PRECIP  EVAP  TMAX  TMIN
4185   22/03/1980     0.0   4.4  41.0  21.0
4189   26/03/1980     0.0   6.3  41.0  22.0
4231       7/5/80     0.0   8.1  42.0  21.0
4232       8/5/80     0.0   9.1  43.0  20.0
4252   28/05/1980     3.2   4.8  41.0  23.0
5252   20/08/1983     0.0   6.8  44.0  22.0
6537   26/08/1988     0.0   5.9  41.0  12.0
6547       5/9/88     4.0   1.9  41.0  16.0
11735  26/03/2007     0.0   7.2  41.5  16.5
12490  19/04/2009     0.0   3.4  42.0  23.0
12499  28/04/2009     0.0   5.3  42.0  24.0
12502      1/5/09     3.5   6.2  42.0  25.0
12503      2/5/09     0.0   5.9  41.0  16.0
12509      8/5/09     0.0   3.0  42.0  17.0
12510      9/5/09     0.0   4.7  43.0  18.0
12511     10/5/09     0.0   5.8  43.0  14.0
12512     11/5/09     0.0   3.9  43.0  24.0
12513     12/5/09     9.0   3.9  43.0  21.0
12514  13/05/2009     0.0   4.0  42.0  14.0
12515  14/05/2009     0.0   4.6  42.0  24.0

In [20]:
#Evaluando los años más húmedos
df_hu=df[df.EVAP > 12]
df_hu

            FECHA  PRECIP  EVAP  TMAX  TMIN
310    15/05/1965     0.0  12.3  27.5  25.0
326    31/05/1965     0.0  12.9  27.5  24.0
6771   17/04/1989     1.9  12.8  31.0  21.0
6816       1/6/89     8.7  12.6  33.2  20.0
6820       5/6/89     0.0  13.7  30.3  25.2
6829   14/06/1989     0.0  14.3  32.0  26.0
6831   16/06/1989     1.3  12.1  33.0  26.2
7616       9/3/92     0.0  12.2  31.0  17.0
7619      12/3/92     0.0  14.1  32.4  15.0
7621   14/03/1992     0.0  12.6  29.4   8.4
7630   23/03/1992    14.4  13.7  31.2  17.1
7676       8/5/92     0.0  14.7  31.0   8.2
7679      11/5/92     0.0  15.5  31.3  14.2
10714      6/6/03     0.0  14.8  36.0  27.0
10720     12/6/03     8.0  12.3  32.0  26.0
10756  18/07/2003    10.5  12.5  33.0  23.0
11764  24/04/2007    15.0  17.7  35.0  19.0

In [21]:
import plotly